$status_active_archived: rgba(146, 146, 146, 1);
$status_default_archived: rgba(221, 221, 221, 1);
$post_production_active: rgba(119, 119, 119, 1);
$production_active: rgba(66, 205, 113, 1);
$pre_production_active: rgba(177, 135, 247, 1);
$status_default: rgba(236, 236, 236, 1);
$username_magenta: rgba(211, 5, 153, 1);
$username_purple: rgba(144, 110, 202, 1);
$username_cerulean_blue: rgba(5, 174, 211, 1);
$username_cobalt_blue: rgba(11, 83, 163, 1);
$username_bright_green: rgba(66, 205, 113, 1);
$username_dark_green: rgba(134, 168, 63, 1);
$username_marigold: rgba(226, 176, 0, 1);
$username_burnt_sienna: rgba(206, 99, 0, 1);
$diagram_lightBlue: rgba(163, 182, 246, 1);
$diagram_lightGreen: rgba(172, 242, 126, 1);
$diagram_lightPink: rgba(242, 143, 214, 1);
$diagram_lightOrange: rgba(255, 192, 102, 1);
$diagram_lightPurple: rgba(195, 150, 243, 1);
$diagram_coral: rgba(247, 138, 99, 1);
$diagram_mintGreen: rgba(137, 240, 206, 1);
$diagram_lavender: rgba(180, 115, 232, 1);
$diagram_lightYellow: rgba(242, 224, 99, 1);
$rating_five: rgba(79, 222, 127, 1);
$rating_four: rgba(139, 243, 149, 1);
$rating_three: rgba(241, 243, 131, 1);
$rating_two: rgba(255, 190, 97, 1);
$rating_one: rgba(250, 94, 107, 1);
$tertiary_tint: rgba(233, 220, 255, 1);
$tertiary_shade: rgba(177, 135, 247, 1);
$tertiary_default: rgba(144, 110, 202, 1);
$green_default: rgba(134, 168, 63, 1);
$green_tint: rgba(224, 240, 195, 1);
$sepia_default: rgba(104, 93, 77, 1);
$sepia_dim: rgba(236, 231, 223, 1);
$sepia_ultra_dim: rgba(250, 248, 246, 1);
$sepia_shade: rgba(208, 196, 179, 1);
$success_tint: rgba(183, 250, 182, 1);
$success_shade: rgba(107, 224, 119, 1);
$success_default: rgba(66, 205, 113, 1);
$warning_tint: rgba(250, 244, 182, 1);
$warning_shade: rgba(224, 214, 107, 1);
$warning_default: rgba(205, 193, 66, 1);
$error_tint: rgba(249, 222, 223, 1);
$error_shade: rgba(227, 107, 118, 1);
$error_default: rgba(209, 70, 82, 1);
$error_dark: rgba(188, 47, 59, 1);
$search_highlighting: rgba(235, 42, 34, 1);
$info_tint: rgba(210, 227, 247, 1);
$info_shade: rgba(120, 168, 220, 1);
$info_default: rgba(69, 134, 205, 1);
$bayGreen_default: rgba(0, 130, 126, 1);
$bayGreen_shade: rgba(84, 154, 150, 1);
$bayGreen_tint: rgba(207, 227, 226, 1);
$bayGreen_multiply: rgba(44, 103, 100, 1);
$secondary_default: rgba(235, 93, 42, 1);
$primary_tint: rgba(249, 225, 191, 1);
$primary_shade: rgba(254, 178, 70, 1);
$primary_default: rgba(235, 145, 16, 1);
$neutral_white: rgba(255, 255, 255, 1);
$neutral_offWhite: rgba(250, 250, 250, 1);
$neutral_ultraLightGray: rgba(243, 243, 243, 1);
$neutral_superLightGray: rgba(236, 236, 236, 1);
$neutral_lightGray: rgba(221, 221, 221, 1);
$neutral_ligterGrayShade: rgba(163, 163, 163, 1);
$neutral_midLightGray: rgba(189, 189, 189, 1);
$neutral_grayShade: rgba(136, 136, 136, 1);
$neutral_gray: rgba(119, 119, 119, 1);
$neutral_darkGray: rgba(85, 85, 85, 1);
$neutral_veryDarkGray: rgba(61, 61, 61, 1);
$neutral_LessDarkGray: rgba(102, 102, 102, 1);
$neutral_black: rgba(0, 0, 0, 1);
$neutral_midGray: rgba(146, 146, 146, 1);
$neutral_buttonHover: rgba(230, 230, 230, 1);
$neutral_buttonHoverArchive: rgba(160, 160, 160, 1);